@import '../sass/variaveis/variaveis.scss';
@import '../sass/mixin/mixin-refeicao.scss';

.section-refeicao{
    @include section-refeicao;
}

.div-refeicao{
    @include div-refeicao;
}

.horario-refeicao{
    @include horario-refeicao;
}


.paragrafo-refeicao-top{
    @include paragrafro-refeicao-top;
}

.img-refeicao{
    max-width: 100%;
}

.img-refeicao-maior{
    @include img-refeicao-maior;
}

.paragrafo-refeicao-bottom{
    @include paragrafo-refeicao-fundo;
}

@media only screen and (max-width: 600px){
    .section-refeicao{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 46px;
        position: relative;

    }

    .div-refeicao{
        max-width: 100%;
        margin: 25px auto 30px 0;
    }

    .paragrafo-refeicao-bottom{
        padding: 14px;
    }
}
