$largura-maxima: 1440px;
$margem-topo: 24px;
$largura-img-home: 100%;
$preenchimento-img-home: 4px;
$raio-borda:50px;


// cor do background 
$cor-de-fundo:rgba(196,196,196, 0.08);

// variavel do avatar
$margem-topo-imagem: 35px;

//variáveis data 

$largura-data: 915px;
$borda-fundo-data: 1px solid black;
$preenchimento-fundo-data: 10px;
$margem-topo-data: 12px;

//variaveis data p 

$fonte-peso-p: 600;
$tamanho-fonto-p: 16px;
$peso-linha-p: 19,5%;
$margem-direita-p: 10px;

// variaveis data span

$fonte-peso-span: 400;
$tamanho-fonte-span: 14px;
$cor-span: #777777;

// variaveis nav a
$margem-direita-nav-a: 60px;
$raio-borda-nav-a: 5px;
$margem-topo-nav-a: 29px;
$largura-nav-a: 255px;
$peso-nav-a: 35px;
$peso-fonte-nav-a: 600;
$tamanho-fonte-nav-a: 16px;
$cor-nav-a: #777777;
$margem-fundo-nav-a: 25px;
$cor-de-fundo-nav-a: rgba(196,196,196, 0.08);

//variaveis .nav-img
$margem-direita-nav-img: 8.7px;

//variaveis main 
$cor-de-fundo-main: #F0F2F5;
$peso-main: 580px;

//variaveis aside
$largura-aside: 1440px;

//variaveis card
$margem-topo-card: 45px;
$margem-fundo-card: 10px;
$largura-card: 1290px;
$peso-card: 157px;
$preenchimento-esquerda-card: 35px;
$caixa-sombra-card: 0px 0px 0px rgba(0,0,0,0.25);
$raio-borda-card: 14px;

//variaveis card h1
$fonte-peso-card-h1: 600;
$fonte-tamanho-card-h1: 16px;


//variaveis img card
$margem-direita-img-card: 10px;
