$largura-maxima: 1440px;
$margem-topo: 24px;
$largura-img-home: 100%;
$preenchimento-img-home: 4px;
$raio-borda:50px;


// cor do background 
$cor-de-fundo:rgba(196,196,196, 0.08);

// variavel do avatar
$margem-topo-imagem: 35px;

//variáveis data 

$largura-data: 915px;
$borda-fundo-data: 1px solid black;
$preenchimento-fundo-data: 10px;
$margem-topo-data: 12px;

//variaveis data p 

$fonte-peso-p: 600;
$tamanho-fonto-p: 16px;
$peso-linha-p: 19,5%;
$margem-direita-p: 10px;

// variaveis data span

$fonte-peso-span: 400;
$tamanho-fonte-span: 14px;
$cor-span: #777777;

// variaveis nav a
$margem-direita-nav-a: 60px;
$raio-borda-nav-a: 5px;
$margem-topo-nav-a: 29px;
$largura-nav-a: 255px;
$peso-nav-a: 35px;
$peso-fonte-nav-a: 600;
$tamanho-fonte-nav-a: 16px;
$cor-nav-a: #777777;
$margem-fundo-nav-a: 25px;
$cor-de-fundo-nav-a: rgba(196,196,196, 0.08);

//variaveis .nav-img
$margem-direita-nav-img: 8.7px;

//variaveis main 
$cor-de-fundo-main: #F0F2F5;
$peso-main: 580px;

//variaveis aside
$largura-aside: 1440px;

//variaveis card
$margem-topo-card: 45px;
$margem-fundo-card: 10px;
$largura-card: 1290px;
$peso-card: 157px;
$preenchimento-esquerda-card: 35px;
$caixa-sombra-card: 0px 0px 0px rgba(0,0,0,0.25);
$raio-borda-card: 14px;

//variaveis card h1
$fonte-peso-card-h1: 600;
$fonte-tamanho-card-h1: 16px;


//variaveis img card
$margem-direita-img-card: 10px;

//variaveis para o root.css

$cor-1: #777777;
$cor-2: #E5E5E5;
$cor-3: #4ECB71;
$cor-4: #fff;
$tamanho-fonte-root: 1em;
$fonte-family-root: Arial, Helvetica, sans-serif;
$cor: var($cor-1);

//variaveis para calendário 

$largura-maxima-calendario: 300px;
$preenchimento-calendario: 4px 0;
$cordefundo-calendario: var(--color-white);
$raio-borda-calendario: 14px;
$posicao: relative;
$esquerda: -50px;
$preenchimento-mes: 14px 15px;
$largura-mes: 100%;
$altura-mes: 100%;
$tamanho-fonte-calendario: 1rem;
$cor-calendario-li: var(--color-1);
$tamanho-calendario-li: 16px;
$espacamento-letras: 3px;
$flutua: left;
$preenchimento-calendario-prev: 1px 0;
$calendario-cor: var(--color-2);
$preenchimento-weekdays: 10px 0;
$weekdays-li-largura: 12.6%;
$weekdays-cor: var(--color-3);
$preenchimento-days: 10px 0;
$margem-days: 0;
$largura-days-li: 12.6%;
$margem-fundo-days-li: 15px;
$tamanho-fonte-days-li: 12px;
$days-cor: var(--color-1);

//variaveis do header

$cor-de-fundo-header: #fff;
$preenchimento-header: 35px 0 25px 0;
$esquerda-home: 14px;
$raio-borda-home: 50%;
$largura-home: 60px;
$altura-home: 55px;
$hr: 80%;

//variaveis do menu
$direita-menu: 14px;
$tamaho-fonte-menu: 2rem;

//variaveis do x
$visibilidade-x: hidden;
$posicao-x: absolute;
$direita-x:14px;
$topo-x:14px;
$tamanho-fonte-x: 2rem;

//nome do nome-paciente:
$margem-direita-nome-paciente: 10px;
$cor-nome-paciente: var(--color-1);
$peso-fonte-nome-paciente: 600;

//variaveis informações-paciente
$altura-informacoes-paciente: 25px;
$margem-informacoes-paciente: 1rem 0;
$tamanho-fonte-informacoes-paciente: 1.3rem;

// variaveis para o calendario
$raio-borda-calendario: 14px;
$preenchimento-calendario-mes: 14px 25px;
$largura-calendario-mes: 100%;
$altura-calendario-mes: 100%;
$tamanho-fonte-calendario-mes: 1rem;
$espacamento-letras-mes-li: 3px;
$cor-de-fundo: #1abc9c;


